@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background: #f2f2f2;
  }

  nav{
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
    padding: 0 100px;
  }

  .logo-image {
    width: 150px;
  }


  .page-title {
    margin-left: 400px;
    font-weight: 300;
  }




  
