@import url("./global.css");

.page-content {
    flex-direction: row;
    justify-content: space-around;
}

.grid-charts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.chart {
    /* border: 1px solid var(); */
    height: 400px;
    width: 700px;
    background: #fdfdfd;
    padding-top: 20px;
    box-shadow: 0 4px 8px #0001;
}