@import url("./global.css");

.page-content {
    flex-direction: row;
    gap: 30px;
}

.grid-charts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.chart {
    height: 400px;
    width: 700px;
    background: #fdfdfd;
    padding-top: 20px;
    box-shadow: 0 4px 8px #0001;
}

.right-content {
    height: 820px;
    width: 700px;
    background: #fdfdfd;
    padding-top: 20px;
    box-shadow: 0 4px 8px #0001;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.stats-card {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(300deg, var(--aqua), var(--blue-gray));
    height: 130px;
    width: 80%;
    color: var(--white);
    font-weight: 800;
    border-radius: 6px;
    box-shadow: 0 6px 8px #0003;
    font-size: 40px;
}

.stats-card p {
    width: 400px;
    white-space: nowrap;
}