@import "./global.css";



.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 55px;
}

.grid {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 36vw;
}