@import "./global.css";

body {
  background: url(../assets/background.svg) no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

form {
  background: var(--white);
  border-radius: 10px;
  height: 430px;
  width: 360px;
  color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result {
  color: var(--black);
  font-size: 17px;
  font-weight: 800;
  background: var(--white);
  width: 360px;
  text-align: center;
  padding: 8px 0;
  border-radius: 10px;
  opacity: 0;
  translate: 0 50px;
  transition: opacity 200ms ease-in-out, translate 300ms ease-in-out;
}

[data-type="ok"] {
  background: rgb(128, 255, 128);
}

[data-type="error"] {
  background: rgb(255, 128, 128);
}

.result-show {
  opacity: 1;
  translate: 0;
}

.sign-in-header {
  text-align: center;
  border-bottom: 2px solid var(--black);
  width: 100%;
  padding: 13px 0;
  font-weight: 750;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 60px;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.input-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column-reverse;
  width: 88%;
  gap: 5px;
}

label {
  color: var(--black);
  font-weight: 540;
  font-size: 17px;
  transition: color 150ms ease-in-out;
}

.admin-input {
  padding: 13px;
  border-radius: 13px;
  outline: none;
  color: var(--black);
  font-size: 15px;
  border: 1.5px solid var(--black);
  font-weight: 500;
  transition: border 150ms ease-in-out, box-shadow 200ms ease-in-out;
}

.admin-input::placeholder {
  color: lightgray;
}

.admin-input:focus {
  box-shadow: 0px 4px 6px rgba(0, 173, 181, 0.22);
}

.admin-input:focus+label {
  color: var(--turquoise);
}

.form-submit {
  padding: 13px;
  border-radius: 13px;
  outline: none;
  font-size: 17px;
  background: var(--turquoise);
  border: 1.5px solid var(--turquoise);
  width: 88%;
  color: var(--black);
  font-weight: 800;
  box-shadow: 0px 5px 9px rgba(0, 173, 181, 0.38);
  cursor: pointer;
  transition: opacity 150ms ease-in-out, transform 200ms ease-in-out, box-shadow 150ms ease-in-out;
}

.form-submit:hover {
  opacity: 0.9;
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px 2px rgba(0, 173, 181, 0.38);
}