@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    place-items: center;
    background: url('../assets/background.svg') no-repeat center;
    background-size: cover;
}

.logo {
    margin-bottom: 10rem;
    width: 25rem;
}

form {
    border: 1px solid gray;
    background: white;
    border-radius: 10px;
    height: 430px;
    width: 360px;
    color: #393E46;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px #d0d4dd;
}

.signup-form {
    height: 55rem;
}

.sign-in-header {
    text-align: center;
    border-bottom: 1px solid lightslategray;
    width: 100%;
    padding: 13px 0;
    font-weight: 750;
    font-size: 2.5rem;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.content-register {
    gap: 2px;
}

.inputs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.input-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column-reverse;
    width: 88%;
    gap: 5px;
}

label {
    font-weight: 500;
    font-size: 17px;
    transition: color 150ms ease-in-out;
}

.client-input {
    padding: 13px;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    border: 1.5px solid rgba(181, 181, 181, 0.527);
    box-shadow: 0px 3px 6px #3331;
    font-weight: 500;
    transition: border 150ms ease-in-out, box-shadow 200ms ease-in-out;
}

.client-input::placeholder {
    color: lightgray;
}

.client-input:focus {
    box-shadow: 0px 3px 7px #f6416b30;
}

.client-input:focus+label {
    color: #F6416C;
}

.form-submit {
    padding: 13px;
    border-radius: 13px;
    outline: none;
    font-size: 17px;
    background: #F6416C;
    border: 3px solid #F6416C;
    box-shadow: 0px 4px 4px rgba(246, 65, 108, 0.26);
    width: 88%;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: opacity 150ms ease-in-out, transform 200ms ease-in-out, box-shadow 150ms ease-in-out;
}

.form-submit:hover {
    opacity: 0.9;
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(246, 65, 108, 0.6);
}

.new-account {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.register {
    color: #F6416C;
}

.old-account {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.opacity {
    opacity: 0;
}

.response {
    margin: 1rem 0;
    color: #F6416C;
}