@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 10rem;
    padding-top: 5rem;
}

.container h1{
    font-size: 5rem;
    margin-bottom: 3rem;
}

.left-section{
    width: 50%;
}

.carousel {
    background: #FAFAFA;
    margin-bottom: 40px;
}

.carousel-cell {
    width: 100%;
    height: 50vh;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    background-image: url("../assets/photo-1505740420928-5e560c06d30e.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;

  }
  
  .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
  }
  
  .carousel-nav .carousel-cell {
    height: 80px;
    width: 100px;
    background-image: url("../assets/photo-1505740420928-5e560c06d30e.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .carousel-nav .carousel-cell:before {
    font-size: 50px;
    line-height: 80px;
  }
  
  .carousel-nav .carousel-cell.is-nav-selected {
    opacity: 0.8;
  }

  .img{
    background-size: 100%;

  }