@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.wishlist-page{
    text-align: center;
}

.wishlist-page h1{
    font-size: 5rem;
    margin: 1rem 0;
}

.head-table{
    font-weight: 600;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    font-size: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid gray;
}

.wishlist{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
}

.head-name{
    grid-column: 2/3;
}

.head-price{
    grid-column: 3/4;
}

.head-status{
    grid-column: 4/5;
}

.wishlist-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wishlist-details img{
    width: 75px;
}

.wishlist p{
    font-size: 1.5rem;
}